<%= render 'layouts/wedded_people_header' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="bs-panel">

      <div class="row">
        <div class="col-md-7">
          <h3>Où?</h3>
          <address>
            Espace du 400e<br />
            100 Quai St-André<br />
            Québec, QC, G1K 3Y2
          </address>
          <p>
            <a class="btn btn-default" href="https://maps.google.com/maps?saddr=Current+Location&amp;daddr=100 Quai St-André, Québec, Qc G1K 3Y2" target="_blank">Directions</a>
          </p>

          <div class="row info-border-top">
            <div class="col-md-12">
              <h3>Événements
              </h3>
              <div class="info" style="padding-top:10px;">
                <div>
                  <h4>
                    Cérémonie du mariage<br />
                    <small>Samedi 20 février 2016<br />17h00</small>
                  </h4>
                </div>
              </div>
              <div class="info">
                <div>
                  <h4>
                    Cocktail<br />
                    <small>Patrice Plante (L'Atelier, tartares et cocktails) sera notre mixologue invité!!</small>
                  </h4>
                </div>
              </div>
              <div class="info">
                <div>
                  <h4>
                    Réception du mariage<br />
                    <small>Souper 4 services et DJ</small>
                  </h4>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="flexible-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2730.3387893775466!2d-71.20764228400624!3d46.817329279140274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb895e0cee1094f%3A0x9065362c2a42f87b!2sEspace+400e+Bell%2C+100+Quai+Saint-Andr%C3%A9%2C+Qu%C3%A9bec%2C+QC+G1K+3Y2!5e0!3m2!1sen!2sca!4v1446786189998" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
