<%= render 'layouts/wedded_people_header' %>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="bs-panel">

      <div class="row">
        <div class="col-lg-7">
          <div class="info">
            <div class="address" data-address="100 Quai St-André, Québec, Qc G1K 3Y2">
              <h4>
                Cérémonie du Mariage<br />
                <small>5:00 PM, February 20, 2016</small>
              </h4>
              <address>
                Espace du 400e<br />
                100 Quai St-André<br />
                Québec, QC, G1K 3Y2
              </address>
            </div>
            <p>
              <a class="btn btn-default" href="https://maps.google.com/maps?saddr=Current+Location&amp;daddr=100 Quai St-André, Québec, Qc G1K 3Y2" target="_blank">Directions</a>
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Responsive iFrame -->
          <div class="flexible-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1365.163205762657!2d-71.20739635!3d46.81757305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps+100+Quai+St-Andr%C3%A9%2C+Qu%C3%A9bec%2C+Qc+G1K+3Y2!5e0!3m2!1sen!2sca!4v1444265260512" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row info-border-top">
        <div class="col-lg-7">
          <div class="info">
            <div class="address" data-address="100 Quai St-André, Québec, Qc G1K 3Y2">
              <h4>
                Cocktail<br />
                <small>6:00 PM, February 20, 2016</small>
              </h4>
              <address>
                Espace du 400e<br />
                100 Quai St-André<br />
                Québec, QC, G1K 3Y2
              </address>
            </div>
            <p>Patrice Plante (L'Atelier, tartares et cocktails) sera notre mixologue invité!!</p>
            <p>
              <a class="btn btn-default" href="https://maps.google.com/maps?saddr=Current+Location&amp;daddr=100 Quai St-André, Québec, Qc G1K 3Y2" target="_blank">Directions</a>
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Responsive iFrame -->
          <div class="flexible-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1365.163205762657!2d-71.20739635!3d46.81757305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps+100+Quai+St-Andr%C3%A9%2C+Qu%C3%A9bec%2C+Qc+G1K+3Y2!5e0!3m2!1sen!2sca!4v1444265260512" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row info-border-top">
        <div class="col-lg-7">
          <div class="info">
            <div class="address" data-address="100 Quai St-André, Québec, Qc G1K 3Y2">
              <h4>
                Réception du mariage<br />
                <small>7:30 PM, February 20, 2016</small>
              </h4>
              <address>
                Espace du 400e<br />
                100 Quai St-André<br />
                Québec, QC, G1K 3Y2
              </address>
            </div>
            <p>
              Souper 4 services et DJ
            </p>
            <p>
              <a class="btn btn-default" href="https://maps.google.com/maps?saddr=Current+Location&amp;daddr=100 Quai St-André, Québec, Qc G1K 3Y2" target="_blank">Directions</a>
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Responsive iFrame -->
          <div class="flexible-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1365.163205762657!2d-71.20739635!3d46.81757305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps+100+Quai+St-Andr%C3%A9%2C+Qu%C3%A9bec%2C+Qc+G1K+3Y2!5e0!3m2!1sen!2sca!4v1444265260512" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
