<div class="row vertical-center-row">
  <div class="col-sm-8 col-lg-offset-2 home-title-area">
    <h1 class="site-title text-center"  style="letter-spacing: 0.15em;">
      Cassandre &amp; Marie-Michel
      <p class="site-tagline text-center" data-shrink-original-size="20" style="letter-spacing: 0.15em;">SE MARIENT</p>
    </h1>
  </div>
</div>
