<%= render 'layouts/wedded_people_header' %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="bs-panel">
      <div class="row">
        <div class="col-lg-6">
          <div class="info">
            <div class="address" data-address="100 Quai St-André, Québec, Qc G1K 3Y2">
              <h4>
                Château laurier
              </h4>
              <address>
                1220 Place George V O<br />
                Québec, QC, G1R 5B8<br />
                <abbr title="Phone">(418) 522-8108</abrr>
              </address>
            </div>
            <p>
              Bloc de chambre disponible à partir de <mark>114$/chambre/nuit.</mark><br />
              Pour avoir accès à ce tarif préférentiel, réservez au nom: ???
            </p>
            <p>
              <a class="btn btn-default" href="https://www.hotelchateaulaurier.com" target="_blank">Site Officiel</a>
              <a class="btn btn-default" href="https://maps.google.com/maps?saddr=Current+Location&amp;daddr=100 Quai St-André, Québec, Qc G1K 3Y2" target="_blank">Directions</a>
            </p>
          </div>
          <div class="info info-border-top">
            <div class="address" data-address="100 Quai St-André, Québec, Qc G1K 3Y2">
                <h4>
                  Château frontenac
                </h4>
                <address>
                  1 Rue des Carrières<br />
                  Québec, QC, G1R 4P5<br />
                  <abbr title="Phone">(418) 692-3861</abrr>
                </address>
            </div>
            <p>
              Bloc de chambre disponible à partir de <mark>179$/chambre/nuit</mark>.<br />
              Pour avoir accès à ce tarif préférentiel, réservez au nom: ???
            </p>
            <p>
              <a class="btn btn-default" href="http://www.fairmont.com/frontenac-quebec/" target="_blank">Site Officiel</a>
              <a class="btn btn-default" href="https://maps.google.com/maps?saddr=Current+Location&amp;daddr=100 Quai St-André, Québec, Qc G1K 3Y2" target="_blank">Directions</a>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="flexible-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1365.163205762657!2d-71.20739635!3d46.81757305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps+100+Quai+St-Andr%C3%A9%2C+Qu%C3%A9bec%2C+Qc+G1K+3Y2!5e0!3m2!1sen!2sca!4v1444265260512" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
