<%= render 'layouts/wedded_people_header' %>

<div class="col-lg-8 col-lg-offset-2">
  <div class="bs-panel">
    <div class="row">
      <div class="info">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://s3.amazonaws.com/uploads.hitchedup.com/9fd9c580ab514bb59c146fd27e52d01c.jpeg" alt="...">
            <div class="caption">
              <h3>
                Joanne &amp; Gilles Lalonde<br />
                Mere et Pere de la marier
              </h3>
              <p>Parents de Marie-Michèle</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/600x600" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/600x600" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="info info-border-top">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/600x600" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/600x600" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/600x600" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
