<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">Invités</div>
      
      <table class="table table-condensed table-striped">
        <thead>
          <th>Nom d'invité</th>
          <th>Bouffe</th>
          <th>Présence confirmé</th>
        </thead>
        <tbody>
          <% @guests.each do |guest| %>
          <tr>
            <td><%= link_to "#{guest.full_name}", edit_guest_path(guest) %></td>
            <td><%= guest.foodstuff.foodstuff_name if guest.foodstuff_id? %></td>
            <td><%= check_box_tag "guest_ids[]", guest.id, guest.attending_ind?, {:id => "guest_id_#{guest.id}", :class => "checkbox"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="panel-footer">
        <%= link_to "Nouvel Invité", new_guest_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
