<% if obj.errors.any? %>
<div id="error_summary">
  <div class="alert alert-danger">
    La page contient <%= pluralize(obj.errors.count, "erreur") %>.
  </div>

  <% if !defined?(include_desc) || include_desc %>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<% end %>
