@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'LatoWebThin';
  src: url('Lato-Thin.eot'); /* IE9 Compat Modes */
  src: url('Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
  url('Lato-Thin.woff') format('woff'), /* Modern Browsers */
  url('Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  padding-top: 60px;
  /*background-image: url("http://static.squarespace.com/static/53c827a3e4b00a63fc062eb5/t/53e162a3e4b08ac0a8ecac68/1407279779644/DSC07168.jpg");*/
  background-image: image-url('background.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html, body, .container-fluid {
  height: 100%;

  /* Home page vertically center the fucking title */
  .container-table {
    display: table;
    vertical-align: middle;

    .vertical-center-row {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

/* Where the wedded people's names go */
.home-title-area {
  h1 {
    font-family: "Voltaire",Georgia,serif;
    font-weight: 400;
    font-size: 115px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 80px;
    line-height: 1em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color: #1a1a1a;
    margin: 0 0 28px;
    text-align: center;
    display: inline-block;
    width: 100%;

    p{
      font-family: Georgia,serif;
      font-weight: 400;
      font-style: italic;
      font-size: 21px;
      text-transform: none;
      letter-spacing: 0px;
      font-family: "Lato";
      font-size: 20px;
      line-height: 1.4em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: 300;
      font-style: normal;
      color: rgba(28,28,28,.9);
      text-align: center;
      margin-bottom: 0px;

      @media (max-width: $screen-md-min) {
        font-size: 21px;
      }
      @media (max-width: $screen-sm-min) {
        font-size: 16px;
      }
    }

    @media (max-width: $screen-md-min) {
      font-size: 60px;
    }
    @media (max-width: $screen-sm-min) {
      font-size: 30px;
    }
  }
}

.bs-panel {
  margin-right: 0;
  margin-left: 0;
  background: rgba(0,0,0, 0.05);
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 500px;
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
}

.info {
  padding-bottom: 30px;
}
.info-border-top{
  padding-top: 30px;
  border-top: solid 2px;
  border-color: white;
}

/* Make vertical thumbnails */
.thumbnail.right-caption > img {
  float: left;
  margin-right: 9px;
}
.thumbnail.right-caption {
  float: left;
}
.thumbnail.right-caption > .caption {
  padding: 4px;
}


/* Flexible iFrame for the embedded google maps. */
.flexible-container {
  position: relative;
  padding-bottom: 100%;
  margin-bottom:30px;
  height: 0;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-primary{
  color: #337ab7 !important;
}
.text-success{
  color:#5cb85c !important;
}
.text-info{
  color:#5bc0de !important;
}
.text-warning{
  color:#f0ad4e !important;
}
.text-danger{
  color:#d9534f !important;
}

#error_summary {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
